/* Estilização das páginas referentes ao controle de medicamentos
realizado pelos atendentes dos postos */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #EEEEEE;
}

.msg-atendente h1, h2 {
    color: #2B78E4;
    font-weight: bold;
    margin-left: 10px;
}
    .msg-atendente h1 {
        margin-top: 20px;
    }

.sign-out {
    text-align: right;
}
    .sign-out a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        margin-right: 0.5%;
        display: inline-block; /* <a></a> são inline elements */
    }
        .sign-out a:hover {
            transform: skew(-10deg) scale(1.1, 1.1);
        }

.btn-navigation .btn-default {
    color: black;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    white-space: normal;
}
    .btn-navigation .btn-default:hover {
        background-color: #95BCF2;
        color: white;
    }