/* Estilização das páginas referentes ao controle de medicamentos
realizado pelos atendentes dos postos */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    background-color: #EEEEEE;;
}

.msg-atendente h1, h2 {
    color: #2B78E4;
    font-weight: bold;
    margin-left: 10px;
}
    .msg-atendente h1 {
        margin-top: 20px;
    }

.sign-out {
    text-align: right;
}
    .sign-out a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        margin-right: 0.5%;
        display: inline-block; /* <a></a> são inline elements */
    }
        .sign-out a:hover {
            transform: skew(-10deg) scale(1.1, 1.1);
        }

.btn-navigation .btn-default {
    color: #007bff;
    background-color: white;
    border: 1px solid #007bff;
    font-weight: 400;
    white-space: normal;
}
    .btn-navigation .btn-default:hover {
        background-color: #007bff;
        color: white;
    }
    
.fill-height {
    min-height: 90%;
    height: 100%;
}

.box-content {
    background-color: #073763; 
    height: 100%;
    min-height: 90%;
    border-radius: 5px;
}
    .box-content h3 {
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        font-style: italic;
    }
    .box-content hr {
        margin-top: 0rem;
        height: 0.4px;
    }

.footer {
   min-width: 100%;
   height: 10px;
   bottom:0;
}

.btn-create {
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.field-form-dependentes {
    text-align: auto;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
}

.dt-bootstrap {
    background-color: transparent;
}
    .dt-bootstrap .table-bordered {
        border: 1px solid white;
    }
    .dt-bootstrap thead tr {
        background-color: #007bff;
        color: white;
    }
    .dt-bootstrap tbody {
        background-color: #D4E7FB;
    }
    .dt-bootstrap .table-bordered tbody td, .table-bordered tbody th {
        border: 1px solid #ffffff;
    }
    .dt-bootstrap, input, textarea, option, select {
        color: black !important;
    }
        .dt-bootstrap input:focus, textarea:focus, option:focus {
            color: black !important;
        }

.overlay-loading {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;    
    background-color: rgba(3, 22, 39, 0.9);
    overflow: hidden;
    transition: 1s;
    display: block;

    animation-name: loading-screen;
    animation-duration: 0.8s;
}
    .overlay-loading .overlay-centered {
        position: fixed;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .overlay-loading .overlay-centered img {
        height: 18%;
        width: 18%;
    }
    .overlay-loading .overlay-centered p {
        font-size: 0.9em;
        font-weight: bold;
        padding-top: 5px;
        color: white;
    }

.loading-screen-dataTable {
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
}
    .loading-screen-dataTable img {
        height: 4%;
        width: 4%;
    }
    .loading-screen-dataTable p {
        font-size: 0.8em;
        font-weight: bold;
        padding-top: 5px;
        color: white;
    }

#selecionar-relatorio {
    font-weight: bold;
    font-size: 0.9em;
    width: auto;
    float: right;
}

/* Animações e efeitos nos elementos HTML */
@keyframes loading-screen {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

