/* Contém estilização genérica que pode ser usada por qualquer página */

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.invalid-field {
    border: 2px solid red;
}

.invalid-field-msg {
    font-size: 12px;
    color: red;
    display: none;
}

/* Modificações da classe do bootstrap */
.border-danger {
    border: 2px solid red;
}

.field-form {
    color: black;
    font-weight: bold;
}

.form-bootstrap input {
    color: black;
}
    .form-bootstrap input:focus {
        color: black;
    }