/* Estilização da página inicial que redireciona para um dos subsistemas */

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Para que não tenha scrool */
}

header h1 {
    text-transform: uppercase;
    color: #00bfff;
    text-align: center;
}

.miniatura {
    display: inline-block;
    max-width: 300px;
    width: 300px;
    height: 300px;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 1px solid black;

    animation-name: content-images;
    animation-duration: 2s;
}

    .miniatura a {
        text-decoration-line: none;
    }

    .miniatura .blackbox {
        width: 100%;
        height: 100%;
        padding-top: 40%;
        transition: 1s; /* Para que a cor do hover saia de modo suave */
    }
        .miniatura .blackbox:hover {
            background-color: black;
            opacity: 0.8;
            transition: 1s; /* Para que a cor do hover entre de modo suave */ 
        }
            .miniatura .blackbox .blackbox-text {
                text-align: center;
            }           
                .miniatura .blackbox .blackbox-text h1 {
                    font-size: 16px;
                    text-transform: uppercase;
                    color: #00bfff;
                    margin-top: 0px;
                }
                .miniatura .blackbox .blackbox-text h2 {
                    font-size: 16px;
                    text-transform: none;
                    font-weight: bold;
                    color: white;
                    margin-top: 0px;
                    display: none;
                }

@media screen and (max-width: 600px) {
    /* As imagens cobrem 100% da div caso a largura seja menor que 600px */
    header h1 {
        display: none;
    }

    .miniatura {
        max-width: 100%;
    }
        .miniatura .blackbox {
            opacity: 0.7;
            background-color: black;
        }
            .miniatura .blackbox .blackbox-text h2 {
                display: block;
            }
}

@keyframes content-images {
	0% {opacity: 0;}
	100% {opacity: 1;}
}