<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <base href="../img/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/homepage.css">
    <script type="text/javascript" src="../js/scripts-homepage.js"></script>
</head>

<body style="background-image: url('care-health.jpg')">
    <header>
        <h1>Escolha o seu destino</h1>
    </header>
    <section class="centered">
        <div id="miniatura-populacao" class="miniatura" style="background-image: url('atendimento-populacao-miniatura.jpg')">
            <a href="../views/atendimentoPopulacao/index.html">
                <div class="blackbox">
                    <div class="blackbox-text">
                        <h1>Atendimento a População</h1>
                        <h2 id="info-miniatura-populacao"></h2>
                    </div>
                </div>
            </a>
        </div>

        <div id="miniatura-atendente" class="miniatura" style="background-image: url('controle-estoque-miniatura.jpg')">
            <a href="../views/controleEstoque/index.html">
                <div class="blackbox">
                    <div class="blackbox-text">
                        <h1>Controle de Estoque</h1>
                        <h2 id="info-miniatura-atendente"></h2>
                    </div>
                </div>
            </a>
        </div>
    </section>
</body>

</html>